



<!-- <% @recent_five.each do |post| %>
  <p><ul>
    <div class="post-in-box"><li><a href = "<%= post.url %>"><%= post.title %></a></li>
    <p><%= post.read %></p></div>
  </ul></p>
<% end %> -->
