<div class= "home-pic"><img src="/richa.jpg" alt="Richa Arora"></div>


<!-- <h1>My Life at Ada!</h1>
<h3>Blog by Richa Arora</h3> -->


<!-- <% @recent_five.each do |post| %>
  <p><ul>
    <div class="post-in-box"><li><a href = "<%= post.url %>"><%= post.title %></a></li>
    <p><%= post.read %></p></div>
  </ul></p>
<% end %> -->
