<!DOCTYPE html>
<html>
<head>
  <!-- <link href="/reset.css" rel="stylesheet"> -->
  <link href="/layout.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css" media="screen" type="text/css" />
  <script src="/app.js"></script>
</head>
<body>

<div class="menu"><hr>
<ul class="horizontal-list">
<li><a href="/">Home</a></li>
<li><a href="/about-me">About Me</a></li>
<li><a href="/posts">Posts</a></li>
<li><a href="/toons">Techtoons</a></li>
</ul>
<hr>
</div>


<div class="container">
<%=yield%>
</div>

<div class="enclose-bottom">
  <div class="bottom-posts"><h3>Recent Posts</h3></div>

  <% @recent_five.each_slice(3) do |posts| %>
    <div class="array">

      <% posts.each do |post| %>
      <ul>
      <li><div class="post-in-box">
        <a href = "<%= post.url %>"><font size="4.5"<%= post.title_print %></font></a>
        <p><%= post.read %></p>
      </div></li>
    </ul>
    <% end %>

    </div>
  <% end %>
</div>

<!-- <img src="/dog.jpg" alt="A Cute Dog"> -->

<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="social">
          <ul>
              <li><a href="http://twitter.com/Rblossoming">Twitter <i class="fa fa-twitter"></i></a></li>
              <li><a href="http://facebook.com/richaros">Facebook <i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/pub/richa-arora/5b/508/498">Linkedin <i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://github.com/ricarora">GitHub <i class="fa fa-github"></i></a></li>

          </ul>
      </nav>



</body>

<div class=footer>

<hr>
This is my footer

</div>
</html>
