<head>
  <link href="/layout.css" rel="stylesheet">
  <script src="/app.js"></script>
</head>
<body></body>
<h1>My Life at Ada!</h1>
<h3>Blog by Richa Arora</h3>
<hr>
<a href="/">Home</a>
<a href="/about-me">About Me</a>
<a href="/posts">Posts</a>
<hr>

<%=yield%>

<img src="/dog.jpg" alt="A Cute Cat">
<hr>
This is my footer
