<!DOCTYPE html>
<html>
<head>
  <!-- <link href="/reset.css" rel="stylesheet"> -->
  <link href="/layout.css" rel="stylesheet">
  <script src="/app.js"></script>
</head>
<body>

<div class="menu"><hr>
<ul class="horizontal-list">
<li><a href="/">Home</a></li>
<li><a href="/about-me">About Me</a></li>
<li><a href="/posts">Posts</a></li>
<li><a href="/toons">Techtoons</a></li>
</ul>
<hr>
</div>

<h1>My Life at Ada!</h1>
<h3>Blog by Richa Arora</h3>

<div class="container">
  lorem ipsum
This is the body of the lorem ipsum
<%=yield%>
</div>

<div class="enclose-bottom">
  <div class="bottom-posts"><h3>Recent Posts</h3></div>

  <% @recent_five.each_slice(3) do |posts| %>
    <div class="array">

      <% posts.each do |post| %>
      <ul>
      <li><div class="post-in-box">
        <a href = "<%= post.url %>"><%= post.title %></a>
        <p><%= post.read %></p>
      </div></li>
    </ul>
    <% end %>

    </div>
  <% end %>
</div>

<img src="/dog.jpg" alt="A Cute Dog">

</body>
<hr>
This is my footer
</html>
