<div class="toon-container">
<div class="toons"><img src="/toons/Human-Error-and-Computers.jpg" alt="Computer Human Error"></div>
<div class="toons"><img src="/toons/toon296.gif" alt="Alphabet Soup"></div>
<div class="toons"><img src="/toons/200104252.jpg" alt="Floopy Disks"></div>
<div class="toons"><img src="/toons/baby-username.gif" alt="Baby User Name"></div>
</div>
