body {
  margin: 0;
  padding: 0;
}

.menu {
  overflow: auto;
  background-color: cyan;
  min-width: 630px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.horizontal-list {
  display: inline-block;
  margin: 5px;
}

.horizontal-list li {
  display: inline-block;
  list-style: none;
  font-size: 14pt;
  margin: 0 50px;
}

.enclose-bottom {
  /*position: relative;*/
  right: 50%;
  left: 50%;
  transform: translate(0, 0);
  /*margin-left: auto;
  margin-right: auto;*/
  padding: 0;
}

.bottom-posts {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
}

.array {
  /*right: 50%;
  left: 50%;
  transform: translate(0, 0);*/
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: papayawhip;
}

.array {
    background-color: papayawhip;
}

.post-in-box {
  float: left;
  width: 15%;
  margin: 10px;
  height: 200px;
  overflow: hidden;
  background-color: red;

}

.array ul {
  list-style: none;
}


.container {
  width: 900px;
  height: 400px;
  border: 1px solid #00fff0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 3px #00fff0;
  overflow: scroll;
}

@media (min-width:700px) {
  .post-in-box {
    float: left;
    width: 18%;
    margin: 10px;
    height: 200px;
    overflow: hidden;
    background-color: gray;
  }
}

@media (min-width:1200px){
  .post-in-box {
    float: left;
    width: 18%;
    margin: 10px;
    height: 200px;
    overflow: hidden;
    background-color: gray;
  }
}
