<h2>Code that too single line!</h2>

<p>
	This is very satisfying to me in this last month, I started learning to code at
Ada Academy. I struggled to code prior to joining Ada. I took two courses in
Python on Coursera and there were many sleepless nights making my code work.
Making the code sleek was a distant goal at that time. However, now after these
classes and my first month at Ada, I have had a breakthrough. Coding is easier
if you break tasks down to a minimum.
</p>

<p>
	During the first Coursera class, peer assessment was part of my weekly commitment
to the course. Looking at some of my peer's code intimidated me. They were getting things
done with just a single line, or implementing optional bells and whistles. For me,
just completing an assignment with minimum requirement on time was as much as I could do.
</p>

<p>
	With my second course in Python, each assignment came with a dictated structure that needed
to be strictly followed.  To both complete the code and then follow strict documentation &
TDD, I thought was way beyond my capabilities. To my surprise, I started working under the
structure better from third week onward. I completed the course, and coding in the accepted style
started to come naturally to me.
</p>

<p>
	If you are on the path of learning to code and finding it difficult, persevere. If I could do
it, you can too! This journey of learning and growing seems intimidating at first and then
you never know when it will become second nature. Continue on this path and believe me
you will surprise yourself. Be true &amp; committed!
</p>
